@model DVH.QLBVot.Models.Vot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenVot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenVot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiVot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVot }) |
    @Html.ActionLink("Back to List", "Index")
</p>
