@model IEnumerable<DVH.QLBVot.Models.Vot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenVot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiVot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenVot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiVot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCungCap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaVot }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaVot }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaVot })
        </td>
    </tr>
}

</table>
